
.about-me{
  background: var(--secondary-white);
  color: white;
  min-height: 80vh;
  padding: 20px;
  transition: background 0.8s;
}

.about-me.active{
  background: black;
}

.about-me h1{
  text-align: center;
  font-size: 1.4rem;
}
.about-me .second-h1{
  display: none;
}

.about-me .avatar-wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.about-me .avatar-wrapper img{
  margin-top: 15px;
  width: 4rem;
  border-radius: 50%;
  box-shadow: 0 0 4px 4px rgb(30, 30, 30);
}

.about-me .text-wrapper{
  margin-top: 20px;
}

.about-me .text-wrapper p{
  text-align: justify;
  color: #a3a3a3;
  line-height: 40px;
  font-weight: 400;
  font-size: 1rem;
}

.about-me .text-wrapper button{
  margin-top: 14px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 1rem;
  border: 0;
  color: white;
  background: var(--primary-blue);
  box-shadow: 0px 0px 4px black;
}

/**** ABOUT ME RESPONSIVENESS ****/
/**** ABOUT ME RESPONSIVENESS ****/
/**** ABOUT ME RESPONSIVENESS ****/
/**** ABOUT ME RESPONSIVENESS ****/

@media screen and (min-width: 650px){
  .about-me .avatar-wrapper{
  justify-content: center;
  }
.about-me .avatar-wrapper img{
  width: 7rem;
  }
  .about-me h1{
  font-size: 2.4rem;
  }

}

@media screen and (min-width: 900px){
  .about-me{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .about-me .avatar-h1-wrapper{
    width: 50%;
    flex-basis: 50%;
  }
  .about-me .second-h1{
  display: block;
}
.about-me .first-h1{
  display: none;
}

.about-me .avatar-wrapper img{
  width: 20rem;
  border-radius: 10px;
  }

  .about-me .avatar-wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-left: 30px;
  }
  .text-wrapper{
    width: 50%;
    flex-basis: 50%;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1000px){
  .about-me .avatar-wrapper img{
  width: 25rem;
  }

  .about-me .text-wrapper p{
    font-size: 1.2rem;
  }

}
